@charset "utf-8";
/* CSS Document */

body{
	background-color: antiquewhite;
		text-align: center
		
}
h2{
	background-color: white;
	text-align: center
	
}
div{
	background: #88583F;
	text-align: center
}
div {
	background-image: url("cloud.jpg")
}
