@charset "utf-8";
/* CSS Document */

body{
	background-image: url("paris background.jpg")
}

		h2{
background-color: white;
text-align: center
}

div{
	background: #88583F;
	text-align: center
}
div {
	background: #EADDCA;
	margin-center:50px;
	margin-top:20px;
}
